/* Define fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../fonts/Roboto/Roboto-Italic.woff') format('woff');
}

@font-face {
    font-family: 'LibreMono';
    src: url('../fonts/LibreMono/LibreMono.woff') format('woff');
}
/* Finish defining fonts */

body {
    background-color: #19181B;
    color: #514865;
    font-family: 'LibreMono', monospace;
}

/* Give the body the appropriate spacing */
.container {
    padding: 5em 2em;
}

/* Give main body container appropriate padding and border */
.container-body {
    padding: 1em 1.5em;
    border: solid 0.1em;
    border-radius: 1em;
}

/* Change font of headers */
.container-body h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    display: none;
}

/* Give sidebar body container appropriate padding and border */
.sidebar-body {
    padding: 1em 1.5em;
    border: solid 0.1em;
    border-radius: 1em;
}

/* Change font of headers */
.sidebar-body h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Give navbar black background */
.topnavbar {
    background-color: #332F3C;
    overflow: hidden;

    /* Make topnavbar stick to the top of the page */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

/* Style the links inside the navbar */
.topnavbar a {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 0.6em 0.8em;
    text-decoration: none;
}

/* Position topnavbar elements */
.topnavbar .topnavbar-left a {
    float: left;
}

.topnavbar .topnavbar-right a {
    float: right;
}

.topnavbar .topnavbar-left a:not(:first-child) {
    display: none;
}

.topnavbar .topnavbar-right {
    display: none;
}

.topnavbar a:hover {
    font-weight: bold;
}
/* Finish positioning topnavbar elements */

/* Change link color on active */
.topnavbar a.active {
    background-color: #463D59;
}

/* Show all 3 columns for large screens */
@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-column-gap: 1em;
    }

    .sidebar {
        display: block;
    }
}

/* Show navbar buttons for large screens */
@media only screen and (min-width: 576px) {
    .topnavbar .topnavbar-left a:not(:first-child) {
        display: block;
    }
    
    .topnavbar .topnavbar-right {
        display: block;
    }
}