/* Define fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../fonts/Roboto/Roboto-Italic.woff') format('woff');
}

@font-face {
    font-family: 'LibreMono';
    src: url('../fonts/LibreMono/LibreMono.woff') format('woff');
}
/* Finish defining fonts */

body {
    background: url('../res/background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #0D00CF;
    font-family: 'LibreMono', monospace;
}

/* Remove the default link styling */
a, a:hover, a:visited, a:active {
   color:inherit;
   text-decoration: none;
}

/* Give the container the appropriate padding */
.container {
    padding: 5em 2em;
}

/* Give container-body appropriate padding and border */
.container-body {
	background-color: #ADD8E6;
    padding: 1em 1.5em;
    border: double 0.2em;
}

/* Create padding between posts */
.container-body .post {
	padding-bottom: 1em;
}

/* Change font of headers */
.container-body h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.container-body p {
    color: #000;
	padding: 0 0.5em;
}

.sidebar {
    display: none;
}

/* Give sidebar body container appropriate padding and border */
.sidebar-body {
	background-color: #ADD8E6;
    padding: 1em 1.5em;
    border: double 0.2em;
    text-align: center;
}

/* Change font of headers */
.sidebar-body h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Style list */
.sidebar-body ul {
	color: #000;
	list-style: none;
	padding-left: 0;
}

.sidebar-body ul li {
	padding-bottom: 0.5em;
	text-decoration: underline;
}
/* End styling list */

/* Set navbar style */
.topnavbar {
    background-color: #005bcf;
    overflow: hidden;
    position: fixed;
    width: 100%;
	top: 0;
	left: 0;
}

/* Style the links inside the navbar */
.topnavbar a {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 0.6em 0.8em;
    text-decoration: none;
}

/* Position topnavbar elements */
.topnavbar .topnavbar-left a {
    float: left;
}

.topnavbar .topnavbar-right a {
    float: right;
}

.topnavbar .topnavbar-left a:not(:first-child) {
    display: none;
}

.topnavbar .topnavbar-right {
    display: none;
}

.topnavbar a:hover {
    font-weight: bold;
}
/* Finish positioning topnavbar elements */

/* Change link color on active */
.topnavbar a.active {
    background-color: #00c2cf;
}

/* Show all 3 columns for large screens */
@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr;
        grid-column-gap: 1em;
    }

    .sidebar {
        display: block;
    }
}

/* Show navbar buttons for large screens */
@media only screen and (min-width: 576px) {
    .topnavbar .topnavbar-left a:not(:first-child) {
        display: block;
    }
    
    .topnavbar .topnavbar-right {
        display: block;
    }
}