extends template
include mixins

block topnavbar-left
    +topnavbar('Blog', settings.leftList)

block topnavbar-right
    +topnavbar('Blog', settings.rightList)

block dropdown
    +dropdown('Blog')
