extends layout.pug

block topnavbar-links
    +topnavbar-links-list('Blog')

block dropdown-links
    +dropdown-links-list('Blog')

block container-body-posts
    +container-body-posts-list([
        { header: 'First post', content: 'Here is some more text for you' },
        { header: 'Second post', content: 'Here is some more text for you' },
        { header: 'Third post', content: 'Here is some more text for you' },
        { header: 'Fourth post', content: 'Here is some more text for you' },
        { header: 'Fifth post', content: 'Here is some more text for you' },
        { header: 'Sixth post', content: 'Here is some more text for you' },
        { header: 'Seventh post', content: 'Here is some more text for you' },
        { header: 'Eighth post', content: 'Here is some more text for you' },
        { header: 'Ninth post', content: 'Here is some more text for you' },
        { header: 'Tenth post', content: 'Here is some more text for you' }
    ])