extends layout.pug

block sidebar-body-left
    +sidebar-body('Table of Contents')

block container-body
    +container-body()

block topnavbar-left
    +topnavbar('Contact', leftList)

block topnavbar-right
    +topnavbar('Contact', rightList)

block dropdown
    +dropdown('Contact')