extends layout.pug

block topnavbar-links
    +topnavbar-links-list('Home')

block dropdown-links
    +dropdown-links-list('Home')

block sidebar-body-links
    +sidebar-body-links-list('Table of Contents', [
        { ref: 'First post', post: 'post1' },
        { ref: 'Second post', post: 'post2' },
        { ref:'Third post', post: 'post3' },
        { ref: 'Fourth post', post: 'post4' },
        { ref: 'Fifth post', post: 'post5' },
        { ref: 'Sixth post', post: 'post6' },
        { ref: 'Seventh post', post: 'post7' },
        { ref: 'Eighth post', post: 'post8' },
        { ref: 'Ninth post', post: 'post9' },
        { ref: 'Tenth post', post: 'post10' }
    ])


block container-body-posts
    +container-body-posts-list([
        { id: 'post1', header: 'First post', content: 'Here is some more text for you' },
        { id: 'post2', header: 'Second post', content: 'Here is some more text for you' },
        { id: 'post3', header: 'Third post', content: 'Here is some more text for you' },
        { id: 'post4', header: 'Fourth post', content: 'Here is some more text for you' },
        { id: 'post5', header: 'Fifth post', content: 'Here is some more text for you' },
        { id: 'post6', header: 'Sixth post', content: 'Here is some more text for you' },
        { id: 'post7', header: 'Seventh post', content: 'Here is some more text for you' },
        { id: 'post8', header: 'Eighth post', content: 'Here is some more text for you' },
        { id: 'post9', header: 'Ninth post', content: 'Here is some more text for you' },
        { id: 'post10', header: 'Tenth post', content: 'Here is some more text for you' }
    ])