extends template
include mixins

block topnavbar-left
    +topnavbar('Home', settings.leftList)

block topnavbar-right
    +topnavbar('Home', settings.rightList)

block dropdown
    +dropdown('Home')

block container-body
    +container-body()