extends layout.pug

block topnavbar
    +topnavbar('Home')

block dropdown
    +dropdown('Home')

block sidebar-body-left
    +sidebar-body('Table of Contents', [
        { ref: 'First post' },
        { ref: 'Second post' },
        { ref: 'Third post' },
        { ref: 'Fourth post' },
        { ref: 'Fifth post' },
        { ref: 'Sixth post' },
        { ref: 'Seventh post' },
        { ref: 'Eighth post' },
        { ref: 'Ninth post' },
        { ref: 'Tenth post' }
    ])


block container-body
    +container-body([
        { header: 'First post', content: 'Here is some more text for you' },
        { header: 'Second post', content: 'Here is some more text for you' },
        { header: 'Third post', content: 'Here is some more text for you' },
        { header: 'Fourth post', content: 'Here is some more text for you' },
        { header: 'Fifth post', content: 'Here is some more text for you' },
        { header: 'Sixth post', content: 'Here is some more text for you' },
        { header: 'Seventh post', content: 'Here is some more text for you' },
        { header: 'Eighth post', content: 'Here is some more text for you' },
        { header: 'Ninth post', content: 'Here is some more text for you' },
        { header: 'Tenth post', content: 'Here is some more text for you' }
    ])