extends layout.pug

block topnavbar-left
    +topnavbar('Home', leftList)

block topnavbar-right
    +topnavbar('Home', rightList)

block dropdown
    +dropdown('Home')

block container-body
    +container-body()