extends layout.pug

block topnavbar
    +topnavbar('Info')

block dropdown
    +dropdown('Info')

block sidebar-body-right
    +sidebar-body('Table of Contents', [
        { ref: 'First' },
        { ref: 'Second' },
        { ref: 'Third' },
        { ref: 'Fourth' },
        { ref: 'Fifth' },
        { ref: 'Sixth' },
        { ref: 'Seventh' },
        { ref: 'Eighth' },
        { ref: 'Ninth' },
        { ref: 'Tenth' }
    ])