extends layout.pug

block topnavbar-left
    +topnavbar('Site Info', leftList)

block topnavbar-right
    +topnavbar('Site Info', rightList)

block dropdown
    +dropdown('Site Info')

block sidebar-body-right
    +sidebar-body('Table of Contents', [
        { ref: 'First' },
        { ref: 'Second' },
        { ref: 'Third' },
        { ref: 'Fourth' },
        { ref: 'Fifth' },
        { ref: 'Sixth' },
        { ref: 'Seventh' },
        { ref: 'Eighth' },
        { ref: 'Ninth' },
        { ref: 'Tenth' }
    ])