extends layout.pug

block topnavbar-left
    +topnavbar('Site Info', leftList)

block topnavbar-right
    +topnavbar('Site Info', rightList)

block dropdown
    +dropdown('Site Info')

block sidebar-body-left
    +sidebar-body('Table of Contents')

block container-body
    +container-body()