extends template
include mixins

block topnavbar-left
    +topnavbar('Site Info', settings.leftList)

block topnavbar-right
    +topnavbar('Site Info', settings.rightList)

block dropdown
    +dropdown('Site Info')

block sidebar-body-left
    +sidebar-body('Table of Contents')

block container-body
    +container-body()