- var title= 'Site title'
- var description= 'Site description'
- var author= 'Author name'
- var keywords= 'site, keywords'
- var language= 'en-US'

//- This is for the left topnavbar links
//- Home points to index.html, Blog points to blog.html, etc.
- var lList = ['Home', 'Blog', 'Contact']
- var lListFilenames = ['index.html', 'blog.html', 'contact.html']

//- This is for the right topnavbar links
//- Site Info points to info.html
- var rList = ['Site Info']
- var rListFilenames = ['info.html']

include mixins.pug
include template.pug