//- Meta tags
- var title= 'Site title'
- var description= 'Site description'
- var author= 'Author name'
- var keywords= 'site, keywords'
- var language= 'en-US'

//- Website text
- var dropdown= 'Dropdown'
- var footer = 'Footer'
- var jumpText = 'Back to top of page'

//- Left topnavbar links
-
    var leftList = [
        {
            text: 'Home',
            ref: 'index.html'
        },
        {
            text: 'Blog',
            ref: 'blog.html'
        },
        {
            text: 'Contact',
            ref: 'contact.html'
        }
    ]

//- Right topnavbar links
-
    var rightList = [
        {
            text: 'Site Info',
            ref: 'info.html'
        }
    ]

include mixins.pug
include template.pug