- var title= 'Site title'
- var description= 'Site description'
- var author= 'Author name'
- var keywords= 'site, keywords'
- var language= 'en-US'
- var lList = ['Home', 'Blog', 'Contact']

include mixins.pug
include template.pug