doctype html
html(lang= settings.language)
    head
        //- User configurable variables
        title= settings.title
        meta(name='keywords', content= settings.keywords)
        meta(name='description', content= settings.description)
        meta(name='author', content= settings.author)

        //- Constants
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1")
        link(rel='stylesheet', type='text/css', href='css/styles.css')

    body
        .topnavbar
            .topnavbar-left
                block topnavbar-left
            .topnavbar-right
                .dropdown
                    a.dropbtn= settings.dropdown
                    block dropdown
                block topnavbar-right

        .spacer &nbsp;

        .container
            .sidebar
                block sidebar-body-left
            .container-body
                block container-body
            .sidebar
                block sidebar-body-right

        .spacer &nbsp;

        .footer= settings.footer